<br/>
<br/>
<br/>
<h1 style="text-align: center">Profile</h1>
<br/>
<table>
    <tr>
        <th>Name: </th>
        <td><%= @user.name%></td>
    </tr>
    <tr>
        <th>Email: </th>
        <td><%= @user.email %></td>
    </tr>
</table>
<br/>
<%= link_to "Update Profile", edit_user_path(current_user), class: "btn btn-success" %>